nav {
    font-size: 120%;
}

li {
    margin-right: 6%;
}

@font-face {
    font-family: FuturaFont;
    src: url("Futura.ttc");
}

@font-face {
    font-family: CopperplateFont;
    src: url("Copperplate.ttc");
}

body {
    background-image: url(../images/bg.png);
    background-size: 3000px;
    background-repeat: no-repeat;
    font-family: FuturaFont, Calibri, Arial;
}

.display-1 {
    margin-top: 5%;
    color: #008cd6;
    padding-bottom: 3%;
    font-size: 500%;
}

footer a{
    color: #0babff;
}

footer {
    padding-top: 6%;
}

h3 {
    margin-top: 2%;
    color: #064669;
    font-family: Copperplate, FuturaFont, Calibri, Arial;
}

a:hover {
    text-decoration: none;
}

#MidSection {
    text-align: center;
    padding-right: 6%;
}

.btn {
  color: #ffffff;
  background-color: #008cd6;
  border-color: #007bff;
  margin: 1%;
  font-size: 240%;
}

.OnePerLine {
    width: 97%!important;
	padding-top: 6%!important;
	padding-bottom: 6%!important;
	font-size: 300%!important;
}

.OneTwoPerLine {
	width: 97%;
}

li {
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
        margin-right: 3%;
        font-size: 100%;
        
        transition: 0.3s;
}

@media (min-width: 1501px){
    .OneTwoPerLine {
        width: 47.6%!important;
        font-size: 240%;
	}
	
	.display-1 {
		font-size: 500%;
	}
    
    li {
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
        margin-right: 6%;
        font-size: 120%;
        
        transition: 0.3s;
    }
}

@media (min-width: 1301, max-width:1500px) {
    li {
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
        margin-right: 3%;
        font-size: 100%;
        
        transition: 0.3s;
    }
}


@media (min-width:1243px, max-width: 1300px) {
	.OneTwoPerLine {
		width: 97%!important;
        font-size: 240%;
	}
    
    li {
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
        margin-right: 2.7%;
        font-size: 100%;
        
        transition: 0.3s;
    }
}

@media (min-width:990px, max-width:1242px) {
    .MidImg {
        display: none;
    }
    
    .display-1 {
        font-size: 400%;
		margin-top: 15%;
		margin-bottom: 10%;
    }
	
	h3 {
		padding-top: 5%;
		font-size: 150%;
		padding-bottom: 25%;
	}
	
	.OneTwoPerLine {
		width: 97%!important;
        font-size: 130%;
	}
	
	footer {
		margin-top: 30%;
	}
	
	li {
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
        margin-right: 2.7%;
        font-size: 100%;
        
        transition: 0.3s;
    }
}

@media (max-width:989px) {
	.MidImg {
        display: none;
    }
    
    .display-1 {
        font-size: 300%;
		margin-top: 15%;
		margin-bottom: 10%;
    }
	
	h3 {
		padding-top: 5%;
		font-size: 150%;
		padding-bottom: 25%;
	}
	
	.OneTwoPerLine {
		width: 97%!important;
        font-size: 130%;
	}
	
	footer {
		margin-top: 30%;
	}
	
	li {
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
        margin-right: 2.7%;
        font-size: 100%;
        
        transition: 0.3s;
    }
}

button:hover {
  background-color: #1f80b4;
}

img:hover {
    transform: scale(1.1);
    transition: 0.30s;
}

.nav-link:hover {
    color: #4c616f!important;
    transition: 0.30s;
}

.nav-link {
    transition: 0.30s;
}

img {
    transition: 0.25s;
}

#MidSection img {
    width: 25%;
    height: 25%;
    padding-top: 3%;
}

.MidImg {
    padding-right: 5%;
    padding-left: 5%;
}

#Title {
    padding-bottom: 0%;
}

#Talmud {
    padding-left: 0%;
    padding-right: 0%
}

.EaaterEgg {
    background-image: url(https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge/public/field/image/2016/06/xpbliss_7.jpg?itok=RDRuJObj);
}