html {
    background-image: url(images/bg.jpg);
}

body {
    margin: 0 auto;
    width: 70%;
    font-family: impact, calibri, helvetica, arial;
}

a {
    text-decoration: none;
    color: white;
}

/* HEADER */

header {
    height: 230px;
    padding-top: 20px;
    background-color: cornflowerblue;
}

ul {
    padding: 0;
}

li {
    display: inline;
    margin-left: 10px;
    padding: 20px;
    font-size: 26px;
}

.left {
    width:23%;
    float:left
}

.left ul {
    padding-left: 60px;
    padding-top: 90px;
}

.right {
    width:23%;
    float:right
}

.right ul {
    float:right;
    padding-right: 60px;
    padding-top: 90px;
}

#logo {
    width: 23%;
    float: left;
    text-align: center;
    font-size: 36px;
    color:white;
}

/* MAIN */

#main {
    padding-top: 0px;
    height: 250px;
}

.cf {
    /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
}

#main p {
    background-color: #66a0ff;
    margin: 0px;
    padding: 50px;
    color:white;
    text-align: center;
    font-size: 100px; 
}

.box {
    position: relative;
    float: left;
    margin: 0px 0;
    padding-bottom: 45px;
}

.box img {
    position: relative;
    z-index: 1;
    margin-top: 150px;
    margin-left: 50px;
}

.box p {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 26px;
    top: 162px;
    text-align: center;
    font-size: 15px;
    color:white;
}

#p1 {
    margin-top: 5px;
    color:black;
}

footer li a {
    font-family: Calibri, Helvetica, Arial;
    font-size: 28px;
    margin-left: 350px;
    text-align: center;
    color: #373535;
}

/*    Buttons!    */

button {
    font-family: impact, calibri, helvetica, arial;
    text-align: center;
    font-size: 50px;
    color: white;
    overflow: hidden;
    background-color: cornflowerblue;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 31px;
    padding-right: 25px;
    margin: 15px;
}

button:hover {
    background-color: aqua;
    background-color: aqua;
    transition-duration: 0.7s;
}

.ButtonLeft {
   float:left;
}

.ButtonRight {
    float:right;
}

/*  Gemara  */

#Gem1 {
    margin: 10px;
    padding: 40px 70px;
}

#Gem2 {
    margin: 10px;
    padding: 40px 62px;
}

#Gem3 {
    margin: 10px;
    padding: 40px 62px;
}

#Gem4 {
    margin: 10px;
    padding: 40px 67px;
}

#Gem5 {
    margin: 10px;
    padding: 40px 60px;
}

#Gem6 {
    margin: 10px;
    padding: 40px 68px;
}

#Gem7 {
    margin: 10px;
    padding: 40px 70px;
}


/*  Navi  */

#Navi1 {
    padding: 40px 135px;
}

#Navi2 {
    padding: 40px 115px;
}

#Navi3 {
    padding: 40px 175px;
}

#Navi4 {
    padding: 40px 108px;
}

#Navi5 {
    padding: 40px 74px;
}

#Navi6 {
    padding: 40px 138px;
}

#Navi8 {
    padding-right: 176px;
}

#Navi9 {
    padding-right: 247px;
}

#Navi10 {
    padding-right: 283px;
}

#Navi11 {
    padding-right: 175px;
}

#Navi13 {
    padding-right: 370px;
}

#Navi14 {
    padding-right: 209px;
}

#Navi15{
    padding: 40px 100px;
}

/*  Science  */

#Science1 {
    padding: 40px 190px;
}

#Science2 {
    padding: 40px 118px;
}

#Science3 {
    padding: 40px 262px;
}

#Science4 {
    padding: 40px 243px;
}

#Science5 {
    padding: 40px 217px;
}

#Science6 {
    padding: 40px 199px;
}

/*  Quizlets  */

#Quiz1 {
    padding: 150px 290px;
}

#Quiz2 {
    font-size: 35px;
    padding: 50px 19px;
}

#Quiz3 {
    font-size: 32px;
    padding: 54px 7px;
}

/*  Disclaimer  */

#DiscMid {
    color:white;
    font-size: 100px;
    text-align: center;
}
