html {
    background-image: url(images/bg.jpg);
}

body {
    margin: 0 auto;
    width: 80%;
    font-family: Impact;
    src: url('Impact.ttf');
}

@font-face {
    font-family: Impact;
    src('Impact.ttf');
}

a {
    text-decoration: none;
    color: white;
}

/* HEADER */

header {
    height: 230px;
    padding-top: 20px;
    background-color: cornflowerblue;
}

ul {
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin: 0px;
    padding: 20px;
    font-size: 160%;
}

.left {
    width: 32%;
    float:left
}

.left ul {
    padding-left: 60px;
    padding-top: 90px;
}

.right {
    margin-left: 1%;
    width: 32%;
    float:right;
}

.right ul {
    float:right;
    padding-right: 60px;
    padding-top: 90px;
}

#logo {
    margin-left: 2%;
    width: 32%;
    float: left;
    text-align: center;
    font-size: 36px;
    color:white;
}

/* MAIN */

#main {
    padding-top: 0px;
    height: 250px;
}

.cf {
    /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
}

#main p {
    background-color: #66a0ff;
    padding: 50px;
    color:white;
    text-align: center;
    font-size: 500%; 
}

.box {
    width: 30%;
    position: relative;
    padding-left: 3.333333%;
    padding-top: 50px;
    float: left;
    margin: 0px 0;
    padding-bottom: 45px;
}

#QuizletBox p {
    padding-left: 26%;
}

#QuizletBox img {
    float:right
}

#TestsBox {
    width: 26%
}

#Box3 {
    float:left;
    padding-left: 0%;
    padding-right: 3.33333%
}

#Box3 img {
    padding-left: 0%;
}

.box img {
    position: relative;
    align-self: center;
    z-index: 1;
    margin-top: 20px;
}

.box p {
    position: absolute;
    z-index: 2;
    width: 235px;
    top: 32px;
    padding-top: 50px;
    text-align: center;
    font-size: 120%;
    color:white;
}

#p1 {
    margin-top: 5px;
    color:black;
}

footer {
    margin-top: 300px;
    font-family: Calibri, Helvetica, Arial;
    font-size: 28px;
    margin-left: 0px;
    text-align: center;
}

footer a {
    color: #373535;
}

#version {
    color: #373535;
    font-size: 10px;
}

/* Class Name and Track */

.Class {
    color: #484848;
    font-family: Calibri, Helvetica, Arial;
    font-size: 25px;
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
}

/*    Buttons!    */    

button {
    font-family: impact, calibri, helvetica, arial;
    text-align: center;
    font-size: 300%;
    color: white;
    overflow: hidden;
    background-color: cornflowerblue;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 31px;
    padding-right: 25px;
    margin: 15px;
}

button:hover {
    background-color: aqua;
    background-color: aqua;
    transition-duration: 0.7s;
}

.OnePerLine {
    width: 96%;
}

.TwoPerLine {
    width: 46%;
}

.FourPerLine {
    padding: 4% 7%;
    width: 23%;
}

/*  Gemara  */

/*  Navi  */

/*  Science  */

/*  Quizlets  */

#Quiz1 {
    font-size: 500%;
}

#Quiz2 {
    font-size: 215%;
}

#Quiz3 {
    font-size: 205%;
}

/*  7th Grade */

/* 7th Grade History */

/* 7th Grade Science */

/* 7th Grade Gemara */

/* 7th Grade Chumash*/

/* Next Test*/

#NextTest1 {
    margin-top: 70px;
}

/*  Disclaimer  */

#DiscMid {
    color: darkblue;
    font-size: 50px;
    text-align: center;
}