html {
    background-image: url(images/bg.jpg);
}

body {
    margin: 0 auto;
    width: 80%;
    font-family: impact, calibri, helvetica, arial;
}

a {
    text-decoration: none;
    color: white;
}

/* HEADER */

header {
    height: 230px;
    padding-top: 20px;
    background-color: cornflowerblue;
}

ul {
    padding: 0;
    text-align: center
}

li {
    display: inline;
    margin-left: 10px;
    padding: 20px;
    font-size: 250%;
}

.left {
    width: 30%;
    float:left
}

.left ul {
    padding-left: 60px;
    padding-top: 90px;
}

.right {
    margin-left: 1%;
    width: 30%;
    float:left;
}

.right ul {
    float:right;
    padding-right: 60px;
    padding-top: 90px;
}

#logo {
    margin-left: 5%;
    width: 30%;
    float: left;
    text-align: center;
    font-size: 36px;
    color:white;
}

/* MAIN */

#main {
    padding-top: 0px;
    height: 250px;
}

.cf {
    /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
}

#main p {
    background-color: #66a0ff;
    padding: 50px;
    color:white;
    text-align: center;
    font-size: 500%; 
}

.box {
    position: relative;
    margin-left: 50px;
    float: left;
    margin: 0px 0;
    padding-bottom: 45px;
}

.box img {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-left: 25px;
    left: 70%;
}

.box p {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 32px;
    left: 76%;
    text-align: center;
    font-size: 120%;
    color:white;
}

#p1 {
    margin-top: 5px;
    color:black;
}

footer {
    margin-top: 300px;
    font-family: Calibri, Helvetica, Arial;
    font-size: 28px;
    margin-left: 0px;
    text-align: center;
}

footer a {
    color: #373535;
}

#version {
    color: #373535;
    font-size: 10px;
}

/*    Buttons!    */

button {
    font-family: impact, calibri, helvetica, arial;
    text-align: center;
    font-size: 300%;
    color: white;
    overflow: hidden;
    background-color: cornflowerblue;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 31px;
    padding-right: 25px;
    margin: 15px;
}

button:hover {
    background-color: aqua;
    background-color: aqua;
    transition-duration: 0.7s;
}

/*  Gemara  */

#Gem1 {
    margin: 10px;
    padding: 7%;
}

#Gem2 {
    margin: 10px;
    padding: 7%;
}

#Gem3 {
    margin: 10px;
    padding: 7%;
}

#Gem4 {
    margin: 10px;
    padding: 7%;
}

#Gem5 {
    margin: 10px;
    padding: 7%;
}

#Gem6 {
    margin: 10px;
    padding: 7%;
}

#Gem7 {
    margin: 10px;
    padding: 7%;
}


/*  Navi  */

#Navi1 {
    padding: 5%;
}

#Navi2 {
    padding: 5% 4%;
}

#Navi3 {
    padding: 5% 7.5%;
}

#Navi4 {
    padding: 5% 3.6%;
}

#Navi5 {
    padding: 5% 1.2%;
}

#Navi6 {
    padding: 5% 5.5%;
}

#Navi8 {
    padding: 5% 3%;
}

#Navi9 {
    padding: 5% 5.67%;
}

#Navi10 {
    padding: 5% 6.5%;
}

#Navi11 {
    padding: 5% 3.4%;
}

#Navi13 {
    padding: 5% 9.2%;
}

#Navi14 {
    padding: 5% 4.5%;
}

#Navi15 {
    font-size: 270%;
    padding: 5% 1.5%;
}

/*  Science  */

#Science1 {
    padding: 5% 9%;
}

#Science2 {
    padding: 5% 4.2%;
}

#Science3 {
    padding: 5% 13.5%;
}

#Science4 {
    padding: 5% 12%;
}

#Science5 {
    padding: 5% 10.7%;
}

#Science6 {
    padding: 5% 9.2%;
}

/*  Quizlets  */

#Quiz1 {
    font-size: 500%;
    padding: 5% 41%;
}

#Quiz2 {
    margin-left: 70px;
    font-size: 215%;
    padding: 3% 10%;
}

#Quiz3 {
    margin: 0px;
    font-size: 205%;
    padding: 3% 10%;
    margin-bottom: 45px;
}

/*  Disclaimer  */

#DiscMid {
    color:white;
    font-size: 100px;
    text-align: center;
}
